form{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}    

article{
    width: 100%;
    display: flex;
    flex-direction: column;
}

article:last-of-type{
    margin-bottom: 40px;
}

label{
    padding-left: 15px;
    color: white;
}

input{
    width: 100%;
    height: 46px;
    border-radius: 40px;
    padding-left: 15px;
    color: #482D96;
}

input:read-only{
    opacity: 0.5;

}

.input-area{
    position: relative;
    width: 100%;
}


.icon-pencil{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #482D96;
    font-weight: 900;
}
