.authorization-done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E1A67;
}

.checkmark{
    font-size: 200px;
}

.authorization-done h1{
    font-weight: 700;
    margin-bottom: 5px;
}